.panel-controls {
  padding-top: 18px;
  margin: 0.3% auto 0;
  padding-right: 10px;
  padding-left: 3px;

  display: flex;

  justify-content: center;
  align-items: center;
}

.icon-only-button {
  background-color: #252528;
  border: none;
  border-radius: 20%;
  margin-right: 2.4%;
  padding-left: 0;

  display: flex;
  justify-content: center;
  align-items: center;
}

.icon-only-button .material-icons-round {
  color: #A9A9A9;
  transform: scale(1.5);
}

.slider {
  flex-grow: 1;
}

.slider-label {
  background-color: #A9A9A9;
  width: 54px;
  margin-left: 4.8%;
  color: #000000;

  display: flex;
  justify-content: center;
  align-items: center;
}
