.panel-title {
  color: #FFFFFF;
  width: 90vw;
  max-width: 1200px;

  display: flex;
  justify-content: center;
  align-items: center;
}

.madhava-leibniz-visualization {
  color: white;
  background-color: #575757;
  width: 90vw;
  max-width: 420px;
  padding: 4.8rem 2.4rem;
  margin: 1.2rem auto;
  border-radius: 24px;
  font-size: 1.244rem;
  text-align: center;
}

.madhava-leibniz-panel-controls {
  width: 90vw;
  max-width: 420px;
  padding-top: 18px;
  margin: 0.3% auto 0;

  display: flex;
  justify-content: center;
  align-items: center;
}

.icon-only-button {
  background-color: #252528;
  border: none;
  border-radius: 20%;
  margin-right: 2.4%;
  padding-left: 0;

  display: flex;
  justify-content: center;
  align-items: center;
}

.icon-only-button .material-icons-round {
  color: #A9A9A9;
  transform: scale(1.5);
}

#numTermsSlider {
  width: 90%;
}
