.panel-title {
  color: #FFFFFF;
  width: 90vw;
  max-width: 1200px;
  text-align: center;

  display: flex;
  justify-content: center;
  align-items: center;
}

.madhava-leibniz-visualization {
  color: white;
  background-color: #575757;
  width: 90vw;
  max-width: 420px;
  margin: 1.2rem auto;
  border-radius: 24px;
  text-align: center;


  padding: 2.4rem 0;
  font-size: 0.95rem;
}

.madhava-leibniz-panel-controls {
  width: 90vw;
  max-width: 420px;
  padding-top: 18px;
  margin: 0.3% auto 0;

  display: flex;
  justify-content: center;
  align-items: center;
}

@media (min-width: 360px) {
  .madhava-leibniz-visualization {
    width: 90vw;
    max-width: 480px;

    padding: 2.4rem 0;
    font-size: 1.05rem;
  }

  .madhava-leibniz-panel-controls {
    width: 90vw;
    max-width: 480px;
  }
}

@media (min-width: 390px) {
  .madhava-leibniz-visualization {
    width: 90vw;
    max-width: 480px;

    padding: 2.4rem 0;
    font-size: 1.175rem;
  }

  .madhava-leibniz-panel-controls {
    width: 90vw;
    max-width: 480px;
  }
}

/* Desktop */
@media (min-width: 720px) {
  .madhava-leibniz-visualization {
    width: 100vw;
    max-width: 480px;

    padding: 3.6rem 2.4rem;
    font-size: 1.4rem;
  }

  .madhava-leibniz-panel-controls {
    width: 100vw;
    max-width: 480px;
  }
}

.icon-only-button {
  background-color: #252528;
  border: none;
  border-radius: 20%;
  margin-right: 2.4%;
  padding-left: 0;

  display: flex;
  justify-content: center;
  align-items: center;
}

.icon-only-button .material-icons-round {
  color: #A9A9A9;
  transform: scale(1.5);
}

#numTermsSlider {
  width: 90%;
}
